body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-size: 18px;
  background-color: #bc002d;
  border-bottom: 7px solid #FCD116;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
}

#main-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links, #logo {
  text-decoration: none;
  color: white;
  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 18px;
  transition: 0.7s;
  text-transform: uppercase;
}

.nav-links:hover {
   color: #FCD116;
}

#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#navbar-toggle:hover {
  color: rgba(255, 255, 255, 1);
}

#gridContainer {
  display: grid;
  width: 100%;
  margin: auto;
  margin-top: 120px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 100px;
}

#mainContainerBackground {
  background-image: url("../images/main.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainContainerStretch, #menuStretch, #sushiStretch {
  width: 90%;
  margin: auto;
}

#mainText, #menuText, #sushiText {
  margin-top: 70px;
  text-align: center;
}

#mainText span, #sushiText span {
  color: black;
}

#mainText h1, #menu h1, #sushiText h1 {
  color: #bf6900;
  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 37px;
  text-transform: uppercase;
}

#mainText h2, #menu h2, #sushiText h2, .rightGridItem h2 {
  font-family: 'Lato';
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 20px;
}

#miniContainer {
  display: grid;
  margin: auto;
  margin-top: 70px;
  width: 100%;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.miniItem {
  width: 100%;
}

.miniHeader h1 {
  background-color: red;
  text-align: center;
  color: white;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.miniBackground {
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  overflow: hidden;
}

.miniBottomText {
  color: black;
  font-weight: 400px;
  font-size:  12px;
  font-family: 'Raleway';
  letter-spacing: 3px;
  /* text-align:  center; */
}

#menuBackground {
  background-image: url("../images/menu.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menuGrid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 25% 25%;
  grid-gap: 70px;
}

#menuPicLeft {
  background-image: url("../images/menu.jpg");
  height: 300px;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

#menuPicRight {
  background-image: url("../images/menu.jpg");
  height: 300px;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.accordion {
    background-color: white;
    color: #444;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 3px solid #bf6900;
    transition: 0.4s;
}

.activee, .accordion:hover {

}

.accordion:after {
    content: '\002B';
    color: #bf6900;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

 .activee:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#menuRightGrid, #alaLeftGrid{
  display: grid;
  grid-template-rows: 10%;
  grid-gap: 90px;
}





#sushiAlaBackground {
  background-image: url("../images/menu.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alaContainer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 25% 25%;
  grid-gap: 70px;
}

#sushiPicLeft {
  background-image: url("../images/menu.jpg");
  height: 300px;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

#sushiPicRight {
  background-image: url("../images/menu.jpg");
  height: 300px;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

#alaRight h1, #menuAccordion h1 {
  background-color: red;
text-align: center;
color: white;
font-family: 'Lato';
font-size: 30px;
font-weight: 900;
text-transform: uppercase;
}

#alaRight ul {
  list-style-type: none;
  color: #444;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 900;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

#alaRight li {
    border-bottom: 1px solid #bf6900;
    padding: 18px;
  }

   #a, #b, #c {
    font-size: 70px;
    margin: auto;
    color: #bf6900;
    transition: 0.7s;
  }

  #a:hover, #b:hover, #c:hover {
    transform: scale(1.3);
  }

  #contactUs {
    background-color: #bc002d;
  }

  #contactUsStretch {
    width: 70%;
    margin: auto;
  }

  #contactUsStretch h1 {
    color: white;
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

  #contactUsStretch h2 {
    color: #FCD116;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
  }
  #contactUsStretch i {
    font-size: 20px;
    color: white;
    margin-right: 10px;
  }

  #contactUsStretch p {
    font-size: 40px;
    color: white;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
  }

  #mainContact {
    width: 75%;
    margin: auto;
  }

  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:focus { text-decoration: none; }
  a:hover, a:active { text-decoration: none; }

  .panel p{
    display: inline;
    color: #444;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 500;
  }
  .panel p:nth-child(1) {
    float: left;
  }
  .panel p:nth-child(2) {
    float: right;
  }

@media screen and (min-width: 1366px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }

}

@media(max-width: 1366px){

  #gridContainer {
    width: 100%;
  }
  #miniContainer {
    grid-template-columns: 1fr;
  }

  #menuGrid, #alaContainer {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 70px;
  }

  #contactUsStretch {
    width: 95%;
  }

  #mainContact {
    width: 90%;
  }
}

@media only screen and (max-width: 1366px) {
    #mainContainerBackground, #menuBackground {
        background-attachment: scroll;
    }
}
